.presentation {
  position: relative;
  z-index: 10;
  margin-top: -50px;

  @media(max-width: 1200px) {
    margin-top: 0;
  }

    &-btn {
      font-size: 14px;
      font-weight: 700;
      background-color: var(--accent);
      color: var(--white);
    }

    &__total {
      font-size: 32px;
      font-weight: 300;
      color: var(--darkgray);

        @include m-b-mobile-lg-down {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-left: auto;
        }

      &-sum {
        font-weight: 500;
      }
    }

    &__form {
      @extend .flex-column;

      width: 100%;
      max-width: 1180px;
      height: 100%;
      padding: clamp(30px, 4vw, 70px) clamp(16px, 4vw, 130px);
      margin: 0 auto;
      background-color: #eeeff0;    

      section {
        @extend .flex-column;

        margin-bottom: 70px;

        @include m-b-tablet-down {
          margin-bottom: 10px;
        }

      }

      fieldset {
        border: none;
      }

      h2 {
        font-size: clamp(22px, 4vw, 32px);;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
        color: var(--darkgray);

          @include m-b-tablet-down {
            margin-bottom: 10px;
          }
      }

      &-paperwork {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 30px 0;
        border-bottom: 1px solid var(--darkgray) !important;

          &:nth-child(3) {
            @include m-b-mobile-lg-down {
              border-bottom: none !important;
            }
          }
      }

      &-footer {
        @extend .flex-column;

        align-items: center;
        gap: 45px;

        @include m-b-tablet-down {
          margin-top: 20px;
          gap: 30px;
        }
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

        @include m-b-tablet-down {
          grid-template-columns: 1fr;
        }

        &:nth-child(2) {
          @include m-b-mobile-lg-down {
            padding-bottom: 0;
          }
        }

      &-item {
        @include m-b-tablet-down {
         display: flex;
         align-items: center;
        }

          span {
            font-size: clamp(12px, 4vw, 14px);
            margin-left: 30px;
            color: var(--grey-dark);

            @include m-b-tablet-down {
              margin-left: auto;
            }
          }
      } 
    }
}

.form-radio {
  position: relative;
  padding: 24px 0;

    small {
      max-width: 370px;
      font-size: 14px;
      margin-left: auto;
      color: var(--grey-dark);

      @media(max-width: 650px) {
        display: none;
      }
    }
}

.form-radio input[type=radio] {
	display: none;
}

.form-radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 32px;
	margin-right: 0;
	font-size: clamp(16px, 4vw, 19px);
  color: var(--dark);
}

.form-radio label:before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0;
	bottom: 0;
  border-radius: 50%;
  border: 2px solid var(--accent);
}
 
/* Checked */
.form-radio input[type=radio]:checked + label:before {
  border: 8px solid var(--accent);
}
 

.form-radio input[type=text] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center; 
  padding: 8px 16px;
  margin-left: auto;
  border-radius: 20px;
  border: 1px solid var(--accent);
  background-color: transparent;
  color: var(--accent);

  @include m-b-tablet-down {
    width: 70%;
    margin-left: 0;
    margin: 0 auto;
  }

  @include m-b-mobile-lg-down {
    width: 100%;
  }

}

.form-radio input[type=text]::placeholder {
  font-size: 16px;
  font-weight: 700;
  text-align: center; 
  color: var(--accent);
}

.checkbox-custom {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;

  input[type="checkbox"] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid var(--accent);
    background-color: transparent;
    color: var(--accent);
  }

  label::before {
    display: none;
  }

  input[type="checkbox"]:checked + label {
    background-color: var(--accent);
    color: var(--white);
  }
}

.presentation-btn {
  @include m-b-mobile-lg-down {
    max-width: 100%;
  }
}